// sass-lint:disable no-url-domains
// sass-lint:disable no-url-protocols
// sass-lint:disable no-duplicate-properties
// sass-lint:disable no-vendor-prefixes
$icon-font-family: 'iconfont';

@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_472866_yt92mqmlwtpujtt9.eot');
    src: url('//at.alicdn.com/t/font_472866_yt92mqmlwtpujtt9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_472866_yt92mqmlwtpujtt9.woff') format('woff'),
    url('//at.alicdn.com/t/font_472866_yt92mqmlwtpujtt9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_472866_yt92mqmlwtpujtt9.svg#iconfont') format('svg');
}

.icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    display: inline-block;
    font-family: $icon-font-family;
    font-style: normal;
}

$icon: (
    product: '\e608',
    magnify: '\e700',
    search: '\e6b4',
    arrow-l: '\e679',
    arrow-r: '\e61b',
    main-menu: '\e63c'
);

@each $key, $value in $icon {
    .icon-#{$key} {
        &::before {
            content: $value;
        }
    }
}
