// sass-lint:disable no-url-domains
// sass-lint:disable no-url-protocols
$primary-margin: 1rem;
$gradient-darken-column1: #f8f8f8;
$gradient-darken-column2: #888;

.mains {
    padding: 1rem;
}

.code {
    background: map-get($bg-color, bg-gray);
    border: 1px solid $gray;
    border-radius: 4px;
    color: map-get($font-color, lighter-color);
    font-size: .875rem;
    font-weight: 400;
    margin-right: $primary-margin / 2;
    padding: 1px 2px;
    text-shadow: 0 1px 0 $white;
}

.ui-note {
    margin-top: 1rem;
}

//ui-wec-logo
.logo-list {
    .logo-img {
        height: 200px;
        text-align: center;
        vertical-align: middle;
        width: auto;

        &.logo1 {
            background: url('//crp-qiniu.ideapar.com/wecfin/Wecfin_logo_2x.png') no-repeat 50% 50%;
            background-size: 50%;
        }

        &.logo2 {
            background: url('//crp-qiniu.ideapar.com/wecfin/WEC_TB_ZH.png') no-repeat 50% 50%;
            background-size: 30%;
        }

        &.logo3 {
            background: url('//crp-qiniu.ideapar.com/wecfin/WEC_LR_ZH.png') no-repeat 50% 50%;
            background-size: 90%;
        }

        &.logo4 {
            background: url('//crp-qiniu.ideapar.com/wecfin/Wecfin_logo_white.png') no-repeat 50% 50%;
            background-size: 90%;
        }

        &.logo5 {
            background: url('//crp-qiniu.ideapar.com/wecfin/WEC_TB_ZH-WHITE.png') no-repeat 50% 50%;
            background-size: 30%;
        }

        &.logo6 {
            background: url('//crp-qiniu.ideapar.com/wecfin/WEC_LR_ZH_WHITE.png') no-repeat 50% 50%;
            background-size: 90%;
		}
	}
}

//ui-wec-font-color
.font-color {
    display: inline-block;

    &>li {
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 155px;
	}
}

.font-primary-color {
    &>li {
        &:nth-child(1) {
            background: map-get($font-color, primary-color);
		}

        &:nth-child(2) {
            background: map-get($font-color, grayer-color);
		}

        &:nth-child(3) {
            background: map-get($font-color, alternative-f-color);
		}
	}
}

//main-item-color
.main-item-color {
    .list {
        .meta {
            border: 1px solid;
            border-radius: 6px;
            color: $white;
            font-size: 12px;
            height: 144px;
            margin-top: 1rem;
            vertical-align: middle;
            width: 144px;
        }

        &>.meta-text {
            padding-left: .8rem;
        }
	}

    .wec-main-lists {
        &> .wec-main-item {
            &:nth-child(1) {
                background: map-get($main-color, dark-blue);
			}

            &:nth-child(2) {
                background: map-get($main-color, light-blue);
			}

            &:nth-child(3) {
                background: map-get($main-color, tiny-blue);
			}
        }

        &>.meta-text {
            font-size: .64rem;
            padding-top: 1rem;
        }
	}

    .wec-text-color-lists {
        &> .wec-text-color-item {
            &:nth-child(1) {
                background: map-get($font-color, primary-color);
			}

            &:nth-child(2) {
                background: map-get($font-color, grayer-color);
			}

            &:nth-child(3) {
                background: map-get($font-color, lighter-color);
            }

            .meta-text {
                padding-top: 5rem;
			}
		}
	}

    .wec-auxiliary-color-lists {
        &> .wec-auxiliary-color-item {
            &:nth-child(1) {
                background: map-get($line-color, dark);
			}

            &:nth-child(2) {
                background: map-get($line-color, light);
			}

            &:nth-child(3) {
                background: map-get($line-color, tiny);
			}

            .meta-text {
                padding-top: 5rem;
            }
		}
	}

    .wec-background-color-lists {
        &> .wec-background-color-item {
            &:nth-child(1) {
                background: map-get($bg-color, bg-gray);
			}

            &:nth-child(2) {
                background: map-get($bg-color, bg-light);
			}

            &:nth-child(3) {
                background: $white;
			}
		}

        .meta-text {
            color: map-get($font-color, grayer-color);
            padding-top: 5rem;
        }
	}

    //gradient-area
    .gradient-area {
        height: 466px;

        .gradient-column {
            float: left;
            height: 100%;
            margin-left: 2px;
            margin-right: 2px;
            width: 21px;
        }

        .gradient-block {
            color: $white;
            display: inline-block;
            font-size: .75rem;
            width: 78px;

            &> li {
                height: 78px;
                line-height: 78px;
                text-align: center;
			}
		}
	}

    .gradient-blue-column {
        background: linear-gradient(to top,
            map-get($gradient-color-blue, gradient-blue-si),
            map-get($gradient-color-blue, gradient-blue-th),
            map-get($gradient-color-blue, gradient-blue-one));
	}

    .blue-block {
        & >li {
            &:nth-child(1) {
                background: map-get($gradient-color-blue, gradient-blue-one);
			}

            &:nth-child(2) {
                background: map-get($gradient-color-blue, gradient-blue-t);
			}

            &:nth-child(3) {
                background: map-get($gradient-color-blue, gradient-blue-th);
			}

            &:nth-child(4) {
                background: map-get($gradient-color-blue, gradient-blue-fo);
			}

            &:nth-child(5) {
                background: map-get($gradient-color-blue, gradient-blue-fi);
			}

            &:nth-child(6) {
                background: map-get($gradient-color-blue, gradient-blue-si);
			}
		}
	}

    .gradient-darken-column {
        background: linear-gradient(to top,
            $gradient-darken-column1, $gradient-darken-column2, map-get($font-color, primary-color));
	}

    .darken-block {
        & >li {
            &:nth-child(1) {
                background: map-get($gradient-color-darken, gradient-darken-one);
			}

            &:nth-child(2) {
                background: map-get($gradient-color-darken, gradient-darken-t);
			}

            &:nth-child(3) {
                background: map-get($gradient-color-darken, gradient-darken-th);
			}

            &:nth-child(4) {
                background: map-get($gradient-color-darken, gradient-darken-fo);
			}

            &:nth-child(5) {
                background: map-get($gradient-color-darken, gradient-darken-fi);
			}

            &:nth-child(6) {
                background: map-get($gradient-color-darken, gradient-darken-si);
			}
		}
	}

    .gradient-green-column {
        background: linear-gradient(to top,
            map-get($gradient-color-green, gradient-green-si),
            map-get($gradient-color-green, gradient-green-t),
            map-get($gradient-color-green, gradient-green-one)
        );
	}

    .green-block {
        & >li {
            &:nth-child(1) {
                background: map-get($gradient-color-green, gradient-green-one);
			}

            &:nth-child(2) {
                background: map-get($gradient-color-green, gradient-green-t);
			}

            &:nth-child(3) {
                background: map-get($gradient-color-green, gradient-green-th);
			}

            &:nth-child(4) {
                background: map-get($gradient-color-green, gradient-green-fo);
			}

            &:nth-child(5) {
                background: map-get($gradient-color-green, gradient-green-fi);
			}

            &:nth-child(6) {
                background: map-get($gradient-color-green, gradient-green-si);
			}
		}
	}
}

//main-item-flex
.flex-cross-example {
    height: 300px;
}

