// sass-lint:disable no-url-protocols
// sass-lint:disable no-url-domains

.logo1 {
    background: url('//crp-qiniu.ideapar.com/wecfin/Wecfin_logo_2x.png') no-repeat 50% 50%;
    background-size: 50%;
}

.logo2 {
    background: url('//crp-qiniu.ideapar.com/wecfin/WEC_TB_ZH.png') no-repeat 50% 50%;
    background-size: 30%;
}

.logo3 {
    background: url('//crp-qiniu.ideapar.com/wecfin/WEC_LR_ZH.png') no-repeat 50% 50%;
    background-size: 90%;
}

.logo-tran-4 {
    background: url('//crp-qiniu.ideapar.com/wecfin/Wecfin_logo_white.png') no-repeat 50% 50%;
    background-size: 90%;
}

.logo-tran-5 {
    background: url('//crp-qiniu.ideapar.com/wecfin/WEC_TB_ZH-WHITE.png') no-repeat 50% 50%;
    background-size: 30%;
}

.logo-tran-6 {
    background: url('//crp-qiniu.ideapar.com/wecfin/WEC_LR_ZH_WHITE.png') no-repeat 50% 50%;
    background-size: 90%;
}
